body {
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  font-weight: 400;
  height: 5%;
}
#canvas {
  margin: 0 auto;
  position: relative;
}
#code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  height: 4em;
  margin: 0 auto;
  position: relative;
}
#run_container {
  width: 100%;
}
#run {
  font-size: 2em;
}
